<title>Sign in - Google Account</title>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
<div class="Layout-container">
    <div class="Layout">
        <div class="Layout1">
            <div class="GoogleImageLogoDiv">
                <img src="../../../assets/Logos/GoogleLogoG.jpg" class="GoogleImageLogo">
                <div class="g-line"></div>
                <div class="g-inner"></div>
            </div>
            <div class="SigninTextDiv">
                <p class="SignInText">
                    Sign in
                </p>
            </div>
            <div class="UseGoogleAcountDiv">
                <p class="UseGoogleAcount">
                    Use Your Google Acount
                </p>
            </div>
        </div>
        <div class="Layout2">
          <form>
            <div class="EmailInputDiv">
              <label for="Email" class="EmailLabel">Email</label>
              <input type="email" placeholder="Email Or Phone" class="EmailInput">
            </div>
            <div class="EmailInputDiv">
              <label for="Password" class="PasswordLabel">Password</label>
              <input type="email" placeholder="Password" class="EmailInput">
            </div>
            <div class="ForgotEmailDiv">
              <button class="ForgetEmailButton">
                <a href="#" class="ForgetEmail">
                  Forgot email?
                </a>
              </button>
            </div>
            <div class="NotYourComputerDiv">
                <p class="NotYourComputer">
                    Not your computer? Use a Private Window to sign in.
                </p>
            </div>
          </form>
            <div class="LearnMoreDiv">
                <a href="https://support.google.com/accounts/answer/2917834?visit_id=638457724328881845-3518209188&p=signin_privatebrowsing&hl=en&rd=1" class="LearnMore">
                    Learn more about using Guest mode
                </a>
            </div>
            <div class="CreateNextButtons">
                <div>
                    <button class="CreateAccount">
                        Create account
                    </button>
                </div>
                <div class="NextButtonDiv">
                    <button class="NextButton">
                        Next
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
